<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- <ul>
		<li th:each="dto, state : ${list}" >
			<span style="background-color:rgba(155,170,190,0.5)" th:if= "${dto.sno %5 ==0 }" 
			th:text="${'------------------'
			+dto.sno}">
			</span>
			<span th:unless="${dto.sno %5==0}" th:text="${dto.first}"></span>
		</li>
	</ul>
 -->
 
<!--  <style>
 	.target {
 		background-color:red;
 		}
 </style>
 
 <ul>
 	<li th:each="dto, state : ${list}"
 	th:class="${dto.sno %5==0}?'target'" th:text="${dto}">
 	</li>
 </ul> -->
 
 <ul>
 	<th:block th:each="dto: ${list}">
 		<li th:text="${dto.sno % 5 ==0}?${dto.sno}:${dto.first}"></li>
 	</th:block>
 </ul>
</body>
</html>